{% extends 'core/layout.html' %}

{% block title %}
KAT - Edit Comment
{% endblock %}

{% block content %}

<div class="container my-5">

    <div class="alert alert-primary" role="alert">
        <h4>Post:</h4>
        {{ post.post_title }}
    </div>

    <div class="p-3 mb-2 bg-success text-white">{{ post.final_label|yesno:"Fake,Real" }}</div>

    <h2>Edit Comment</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
        <button type="submit" name="action" class="btn btn-primary" value="'save"> Save </button>
        <button type="submit" name="action" class="btn btn-primary" value="next"> Save and Next</button>
    </form>

</div>


{% endblock %}